@font-face {
    font-family: 'BebasNeueBook';
    src: url('../font/bebas-neue-book/BebasNeueBook.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../font/bebas_neue/BebasNeue.otf') format('opentype');
}

@font-face {
    font-family: 'Rage Italic';
    src: url('../font/Rage Italic.ttf') format('truetype');
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "BebasNeue", sans-serif;
    text-align: center;
    background-color: black;
}

p1 {
    color: white!;
}

.container {
    width: 95%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}


/*Colums

[class^=col-] {
padding: 0 .5em;
    float: left;
}

.col-3 {

}

.col-1 {
   
    
}
==================================*/


/* outline: 2px solid rgb(241, 64, 64);*/


/*Typeography
==================================*/

.title {
    font-size: 2.5rem;
    color: white;
}

.title_01 {
    font-size: 1.5rem;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Rage Italic';
}

h2 {
    text-align: center;
    font-family: "BebasNeueBook";
}

.About-traingGrounds h1 {
    font-weight: 400;
    font-size: 6.5rem;
    color: white;
    padding-top: 3em;
}

.About-Training-Times p1 {
    font-weight: 300;
    font-size: 3.8rem;
    color: white;
}

.About-Training-Times p2 {
    font-weight: 400;
    font-size: 2.0rem;
    color: white;
    display: block;
    padding-top: ;
}

.theEquipment h1 {
    font-weight: 500;
    font-size: 4.5rem;
    color: white;
    padding-top: 2em;
}

.About_Equipment p1 {
    font-size: 1.2rem;
    color: white;
}

.footer p1 {
    font-size: 1.5rem;
}

.ending span {
    font-size: 1.5rem;
    display: block;
}

.endingtimes {
    font-size: 1.5rem;
    padding-bottom: 6em;
}

.endingtimes span {
    display: block;
}



@media (min-width: 40rem) {
    .title {
        font-size: 5.5rem;
        color: white;
        position: relative;
        font-weight: 400;
    }
    .title_01 {
        font-size:  3.5rem;
        color: white;
        font-weight: 100;
        position: relative;
        font-weight: 400;
    }
    
    .About-Training-Times p1 {
       font-weight: 300;
       font-size: 5.8rem
       color: white;
    }
    .About-Training-Times p2 {
        font-weight: 400;
        font-size: 1.5rem;
        color: white;
        display: block;
    }
}

@media (min-width: 50rem) {
    .title {
        font-size: 4.5rem;
        color: white;
        position: relative;
        bottom: 3em;
        font-weight: 400;
    }
    .title_01 {
        font-size: 3.5rem;
        color: white;
        font-weight: 100;
        position: relative;
        bottom: 4em;
        font-weight: 400;
    }
}

@media (min-width: 50rem) {
    .title {
        font-size: 3.5rem;
        color: white;
        position: relative;
        bottom: 1em;
        font-weight: 300;
    }
    .title_01 {
        font-size: 2.0rem;
        color: white;
        font-weight: 300;
        position: relative;
        bottom: 2em;
        font-weight: 400;
        padding-left: 0em;
        padding-right: 0em;
    }
}

@media (min-width: 60rem) {
    .title {
        font-size: 10rem;
        color: white;
        position: relative;
        bottom: -1em;
        font-weight: 400;
    }
    .title_01 {
        font-size: 2.8rem;
        color: white;
        font-weight: 100;
        position: relative;
        bottom: -3em;
        font-weight: 400;
    }
    .About-traingGrounds h1 {
        font-weight: 300;
        font-size: 8rem;
        color: white;
        padding-top: 4.5em;
    }
    .theEquipment h1 {
        font-weight: 500;
        font-size: 5.5rem;
        color: white;
        padding-top: 5.5em;
    }
    .About-Training-Times p1 {
       font-weight: 300;
       font-size: 5.8rem
       color: white;
    }
    .About-Training-Times p2 {
        font-weight: 400;
        font-size: 1.5rem;
        color: white;
        display: block;
    }

}


/*Header
==================================*/

header {
    position: absolute;
    margin-top: .25;
    left: 0;
    right: 0;
}

nav {
    font-family: "BebasNeueBook";
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 110;
}

nav ul {
    margin: 0;
    padding 2em;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: .5em;
}

nav a {
    
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .497em;
    padding: .2444em;
    color: white;
    
}

nav a:hover,
nav a focus {
    color: #ddd;
}

@media (min-width: 40rem) {
    nav a {
        font-size: 1.3em;
    }
}


/*Header
==================================*/

.home-hero {
    background-image: url(../img/Update_Img/Olympus%20Photos/Aaron_Hero.jpg);
    background-repeat: no-repeat;
    padding: 10em 0;
    background-size: cover;
    background-position: center;
}

@media (min-width: 40rem) {
    .home-hero {
        height: 100vh;
        padding-top: 5em;
    }
}

@media (min-width: 50rem) {
    .home-hero {
        height: 100vh;
        padding: 10em;
    }
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding: 12em;
    }
}


/*About Hero
==================================*/

.About-Hero {
    /* background-image: url(../img/otred.jpg);*/
    background-size: 50%;
    background-position: center;
    padding-top: .5em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
}

.About-Hero h1 {
    right: 10em;
    top: -10;
    font-weight: 900;
    font-size: 3em;
    padding-bottom: 0;
    color: white;
}

.About-Hero h1 span {
    padding-bottom: 0;
    right: 10em;
    display: block;
}

.About-Hero p1 {
    background-image: url(../img/otred.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5em;
    height: 15.99999em;
    padding-top: 3em;
    color: white;
    font-family: "BebasNeueBook";
}

.About-Closing h1 {
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    padding-top: 2em;
}

@media (min-width: 40rem) {
    
    .About-Hero p1 { 
     background-size: 48%;   
        padding-top: 4em;
        padding-left: 6em;
        padding-right: 6em;
    }
    
}

@media (min-width: 60rem) {
    

    .About-Hero h1 {
        font-weight: 500;
        font-size: 6em;
    }
    .About-Hero h1 span {
        padding-bottom: 0;
        right: 10em;
        display: block;
    }
    .About-Hero p1 {
        background-size: 19%;
        padding-top: 6em;
        padding-left: 6em;
        padding-right: 6em;
    }
}

@media (min-width: 100rem) {}


/*About Training Times
==================================*/

.About-Training {
    overflow: hidden;
}

.About-traingGrounds {
    height: 100vh;
    background-image: url(../img/Aaron_Landing.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.About-Training-Times {
    height: 50vh;
    background-color: black;
    font-size: 10em;
    font-family: "BebasNeueBook";
}

.About-Training p1 {
    height: 10em;
    padding: 7em;
}

#pi1 {
    padding-top: 10em;
}

.port-item img {
    display: block;
    z-index: 100;
    padding-top:
}

.port-item {
    margin: 0;
    position: relative;
}

.port-desc {
    position: absolute;
    z-index: 100;
    left: 3em;
    right: 3em;
    bottom: 1em;
    color: white;
    background: rgba(0, 0, 0, .75);
    padding: .5em;
}

@media (min-width: 40rem) {
    .About-Training-Times {
        height: 2.5em;
    }
    
    .port-item {
        width: 50%;
        float: left;

    }
        #pi1 {
        padding-top: 0em;
    }
}




@media (min-width: 60rem) {
    
        .About-Training-Times {
        height: 2.5em;
    }
    
    .About-Training {
        background-color: black;
        background-size: 100vh auto;
    }
    .port-item {
        width: 40.4333333334%;
        padding-left: 4em;
        margin-left: 3em;
        padding-bottom: 1em;
    }
    #pi1 {
        padding-top: 0em;
    }
}


/*Blank
=========================*/

.blank {
    height: 30em;
    line-height: 2em;
    text-align: center;
    padding-top: 6em;
}

.blank p1 {
    font-family: "BebasNeueBook";
    color: white;
    font-weight: 300;
    font-size: 2.2rem;
}

@media (min-width: 60rem) {
    .blank {
        height: 20em;
    }
    .blank p1 {
        color: white;
        font-weight: 300;
        font-size: 1.2em;
        padding-left: 5em;
    }
}


/*The Equipment
=========================*/

.About_Equipment {
    height: 10em;
}

.About-traingGrounds {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theEquipment {
    height: 100vh;
    background-image: url(../img/gymOnly03.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.About_Equipment {
    padding-top: 2em;
    font-family: "BebasNeueBook";
}
.About_Equipment p1 {
    font-family: "BebasNeueBook";
    font-size:1.2222222rem;
}

.About_Equipment ul {
    margin: 0;
    padding 0em;
    list-style: none;
}

.About_Equipment li {
    display: block;
    margin: .5em;
    padding: 0;
}

.UnstyledList {
    -webkit-columns: 1em 3;
    -moz-columns: 1em 3;
    columns: 1em 3;
    padding: 2em;
    list-style-type: none;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
}

@media (min-width: 20rem) {
    .About_Equipment {
        height: 35em;
    }
}

@media (min-width: 40rem) {
    .About_Equipment p1 {
       font-size: 2rem;
    }
}

@media (min-width: 60rem) {
    .About_Equipment {
        height: 30em;
        padding: 5em;
    }
}


/*About-Closing
=========================*/

.About-Closing {
    background-image: url(../img/Logo01.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.About-Closing h1 {
    padding-top: 8em;
    font-size: 2.8em;
}

@media (min-width: 20rem) {
    .About-Closing h1 {
        
        font-size: 3.5rem;
    }
}


@media (min-width: 40rem) {
    .About-Closing {
        background-size: 100vh 100;
        z-index: 100;
    }
    .About-Closing h1 {
        padding-top: 3em;
        font-size: 6.5rem;
    }
}

@media (min-width: 60rem) {
    .About-Closing {
        background-size: 100vh 100;
        z-index: 100;
    }
    .About-Closing h1 {
        padding-top: 5em;
        font-size: 6em;
    }
}


/*Footer
=========================*/

#myFooter {
    background-color: black;
    color: white;
    padding-top: 20px;
    font-family: "BebasNeueBook", sans-serif;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-instagram:hover {
    color: #2b55ff;
}

#myFooter .fa-instagram:focus {
    color: #2b55ff;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/*
.About-Closing {
    background-image: url(../img/Logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-size: cover;
    padding: 10em 10em;
}
*/